<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Início &mdash; UnityGirls</title>
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

  <!-- google fonts-->
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!--brootstrap Icon-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <!--brootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!--CSS teste-->
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg">

    <div class="container-fluid">

      <a class="navbar-brand" href="tela_inicial.html">
        <img src="./img/logo.png" alt="Logo UnityGirls">
        UnityGirls
      </a>



      <form class="d-flex search-bar">
        <input class="form-control" type="search" placeholder="Buscar no site..." aria-label="Search">
        <button class="btn btn-search" type="submit">Pesquisar</button>
      </form>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="descricao.html">Sobre</a></li>
          <li class="nav-item"><a class="nav-link" href="acoes.html">Ações</a></li>
          <li class="nav-item"><a class="nav-link" href="producoes.html">Produções</a></li>
          <li class="nav-item"><a class="nav-link" href="contato.html">Contato</a></li>
        </ul>
      </div>

    </div>

  </nav>

  <!-- Conheça -->
  <section class="hero">

    <div class="container">
      <h1>Quem Somos?</h1>
      <p>Somos apaixonadas por tecnologia e inovação!</p>
      <a href="integrantes.html" class="cta-button">Explore Mais</a>
    </div>

  </section>

  <!-- Imagem e legenda do Grupo -->
  <div class="container">

    <img src="./img/logoUnity.png" class="float-start me-3 img-fluid" alt="Imagem">

    <div class="custom-text">
      <p>
        O grupo UnityGirls, criado em 2023 com o apoio do Edital nº 01/2023 - PROPI/RE/IFRN, atua como um espaço de
        diálogo e execução de ações que incentivem a presença feminina na TI. Entre as atividades realizadas pelo grupo
        estão a exposição de pesquisas, compartilhamento de dados e desenvolvimento de soluções como sistemas de
        autenticação e cadastro de usuários. A proposta visa centralizar todas as informações relevantes sobre
        as iniciativas do grupo em uma plataforma acessível, facilitando a disseminação do conhecimento e incentivando a
        adesão de mais pessoas à causa. Assim, busca-se não apenas ampliar a inclusão feminina na tecnologia, mas também
        valorizar sua atuação, promovendo diversidade e empoderamento no setor.
      </p>
    </div>

  </div>

  <!-- Grid Section/imagens da equipe -->
  <section class="grid-section">

    <h2 class="titulo">Explorando...</h2>
    <div class="container">

      <div class="row">

        <div class="col-md-3 mb-4">
          <div class="card">
            <img src="./img/equipe.png" class="card-img-top" alt="Imagem 1">
            <div class="card-body">
              <h5 class="card-title">Colaboração Criativa</h5>
              <p class="card-text">Soluções inovadoras em equipe.</p>
            </div>
            <a href="descricao.html" class="cta-button mb-4">Explore Mais</a>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <img src="./img/tecnologia (3).png" class="card-img-top" alt="Imagem 2">
            <div class="card-body">
              <h5 class="card-title">Produtividade no Trabalho</h5>
              <p class="card-text">Ferramentas que otimizam.</p>
            </div>
            <a href="descricao.html" class="cta-button mb-4">Explore Mais</a>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <img src="./img/cerebro.png" class="card-img-top" alt="Imagem 3">
            <div class="card-body">
              <h5 class="card-title">Análise de Dados</h5>
              <p class="card-text">Estratégias orientadas por informações.</p>
            </div>
            <a href="descricao.html" class="cta-button mb-4">Explore Mais</a>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <img src="./img/inteligencia-artificial.png" class="card-img-top" alt="Imagem 4">
            <div class="card-body">
              <h5 class="card-title">Tecnologia e Inovação</h5>
              <p class="card-text">Explorando o futuro digitalmente.</p>
            </div>
            <a href="descricao.html" class="cta-button mb-4">Explore Mais</a>
          </div>
        </div>

      </div>

      <div class="row mt-4">

        <div class="col-md-3 mb-4">
          <div class="card">
            <img src="./img/computador-portatil.png" class="card-img-top" alt="Imagem 5">
            <div class="card-body">
              <h5 class="card-title">Transformação Digital</h5>
              <p class="card-text">Unindo criatividade e tecnologia.</p>
            </div>
            <a href="descricao.html" class="cta-button mb-4">Explore Mais</a>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <img src="./img/ciencia.png" class="card-img-top" alt="Imagem 6">
            <div class="card-body">
              <h5 class="card-title">Pesquisa e Ciência</h5>
              <p class="card-text">Avanços moldando o amanhã.</p>
            </div>
            <a href="descricao.html" class="cta-button mb-4">Explore Mais</a>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <img src="./img/programacao.png" class="card-img-top" alt="Imagem 7">
            <div class="card-body">
              <h5 class="card-title">Site TI p/ Elas</h5>
              <p class="card-text">Site responsável por reunir ações de incentivo a participação feminina na área de TI.
              </p>
            </div>
            <a href="descricao.html" class="cta-button mb-4">Explore Mais</a>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <img src="./img/tecnologia.png" class="card-img-top" alt="Imagem 8">
            <div class="card-body">
              <h5 class="card-title">Liderança Feminina</h5>
              <p class="card-text">Mulheres impulsionando mudanças.</p>
            </div>
            <a href="descricao.html" class="cta-button mb-4">Explore Mais</a>
          </div>
        </div>

      </div>

    </div>

  </section>

  <!-- Footer/rodapé -->
  <footer class="footer">

    <p>&copy; 2024 UnityGirls. Todos os direitos reservados.</p>

    <div class="col-12" id="social-container">
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-youtube"></i>
      <i class="bi bi-twitter"></i>
    </div>

  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</body>

</html>